.main_banner_div {
  width: 100%;
  overflow: hidden;
}

.home_page_banner_image {
  width: 100%;
  height: auto;
}

.New_Home_banner{
    border: 100px;
}
.main-slider-div-for-banner{
  padding: 20px 40px;
  position: relative;
  margin: 0px 30px;
}

@media (max-width:800px) {
  .main-slider-div-for-banner{
    padding: 20px 20px;
    margin: 0px 0px;
  }
  
  
}