.product_card_container_New_home {
  display: flex;
  justify-content: space-around;
}
.product_card {
  max-width: 300px;
  height: 390px;
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  border-radius: 60px;
  font-family: var(--Rhodium--Libre-font);
  /* border-bottom: 440px solid orange; */
  background-image: url("../../assets/img/NewHome/home_card_bg_image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.new_product_product_and_offer_image{
  display: flex;
  gap: 50px;
}
.offerImage {
  width: 40px;
}
.product_image {
  width: 140px;
  scale: 1.1;
}
.ADD_button_new_home_page {
  background: white;
  padding: 3px 20px;
}
.new-price {
  font-size: 20px;
  font-weight: 600;
}
.old-price {
  font-size: 18px;
  text-decoration: line-through;
}

@media (max-width: 960px) {
  .product_card {
    max-width: 240px;
    height: 360px;
    padding: 0px 17px 17px 17px;
  }
  .new_product_product_and_offer_image{
    display: flex;
    gap: 45px;
  }
  .offerImage {
    width: 35px;
  }
  .product_image {
    width: 120px;
    scale: 1.1;
  }
  .ADD_button_new_home_page {
    padding: 3px 15px;
  }
  .new-price {
    font-size: 18px;
    font-weight: 600;
  }
  .old-price {
    font-size: 17px;
  }

}
@media (max-width: 730px) {
  .product_card_container_New_home{
    flex-wrap: wrap;
    gap: 20px;
  }
  .product_card {
    max-width: 210px;
    height: 300px;
    padding: 0px 17px 17px 17px;
    gap: 0px;
    flex-wrap: wrap;
  }
  .new_product_product_and_offer_image{
    gap: 30px;
  }
  .offerImage {
    width: 30px;
  }
  .product_image {
    width: 80px;
    scale: 1.1;
  }
  .ADD_button_new_home_page {
    padding: 3px 7px;
    font-size: 13px;
  }
  .new-price {
    font-size: 17px;
    font-weight: 600;
  }
  .old-price {
    font-size: 16px;
  }
  .New_Home_product_name_and_weight{
    font-size: 16px;
    margin-top: 5px;
  }
}

@media (max-width:500px) {  
.product_card_container_New_home{
  flex-wrap: wrap;
}
   .product_card {
    max-width: 210px;
    height: 300px;
    padding: 0px 17px 17px 17px;
    gap: 0px;
  }
  .product_image {
    width: 80%;
    scale: 1.1;
  }
  .ADD_button_new_home_page {
    padding: 3px 7px;
    font-size: 13px;
    cursor: pointer;
  }
  .new-price {
    font-size: 17px;
    font-weight: 600;
  }
  .old-price {
    font-size: 16px;
  }
  .New_Home_product_name_and_weight{
    font-size: 16px;
    margin-top: 5px;
  }
}