.main_PCHeader_div {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  padding: 10px 0px;
  font-weight: 450;
  font-size: 20px;
  color: var(--golden-color);
  top: 0px;
  z-index: 10000000;
  width: 100%;
  backdrop-filter: blur(5px);
  transition: all 1s ease;
}

.fixed-position {
  position: fixed;
  top: 0;
  animation: slide-down 1s ease;
}
@keyframes slide-down {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}
.Pc_Header_logo {
  width: 70%;
}
.pcHeader_options {
  cursor: pointer;
  transition: all 0.5s ease;
  color: var(--golden-color);
}
.pcHeader_options:hover {
  transform: scale(1.1)
}
.header_icons {
  cursor: pointer;
  transition: all 0.5s ease;
}
.header_icons:hover {
  transform: scale(1.1)
}

.pc_header_cart_icon{
  position: relative;
}
.cart-item-count {
  background-color : var(--navy-blue-color);
  color: var(--golden-color);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
}
/* Highlight active link */
.css-for-link-tag.active {
  font-weight: bold;
  color: var(--navy-blue-color); /* Add an appropriate active color */
}

/* .last_pcHeader_options{
  display: flex;
  gap:40px
} */

@media (max-width: 1024px) {
  .main_PCHeader_div {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 0px;
    font-size: 18px;
  }
  .Pc_Header_logo {
    width: 62%;
    scale: 1.9;
  }
  .Pc_Header_logo_div{
    text-align: center;
    width: 25%;
  }
}
@media (max-width: 800px) {
  .main_PCHeader_div {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px 0px;
    font-size: 15px;
  }
  .Pc_Header_logo {
    width: 60%;
    scale: 1.7;
  }
  .Pc_Header_logo_div{
    text-align: center;
    width: 25%;
  }
  .cart-item-count {
    padding: 1px 4px;
    font-size: 9px;
    top: -7px;
    right: -7px;
  }
}
