.top_parent_div_all_product {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.main_all_product_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 50px 50p x;
}

/* product */
.product_div_all_product_parent {
  border: 1px solid var(--navy-blue-color);
  border-radius: 30px;
  padding: 10px;
  transition: all 0.5s ease;
}
.product_div_all_product {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  border: 2px dashed var(--golden-color);
  border-radius: 30px;
}
.All_product_name{
  font-weight: bold;
}
.All_product_description {
  padding: 0px 8px;
  min-height: 40px; 
  max-height: 45px; 
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  width: 100%;
  color: #847c7c;
}

.all_product_product_thumbnail {
  max-width: 250px;
  max-height: 250px;

}
.product_name_and_price {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 15px;
}
.Add_to_cart_and_watchlist_button {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* price */
.All_product_price_div{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--sura-font);
  margin: 10px 0px;
}
.All_product_price_after_discount{
  font-size: 20px;
  scale: 1.2;
  font-weight: 500;
}
.All_product_price_before_discount{
  font-weight: 500;
  font-size: 18px;
  scale: 0.8;
  text-decoration: line-through;
  color: #847c7c;
}
.All_product_discount{
  color: green;
  font-weight: 550;
  font-size: 16px;
}



/* cart */
.cart-quantity {
  display: flex;
  align-items: center;
}

.cart-quantity span {
  margin: 0 10px;
}
.Icon_add_to_cart {
  cursor: pointer;
  width: 100%;
}

/* pagination */
.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination button {
  margin: 10px;
  padding: 14px 25px;
  /* background-color: #f0f0f0; */
  background: var(--golden-color);
  color: var(--navy-blue-color);
  border: none;
  cursor: pointer;
}

.pagination button.active {
  background-color: var(--navy-blue-color);
  color: var(--golden-color);
}

.pagination button:hover {
  background-color: #ccc;
}

/* wishlist */

.watchlist-icon {
  font-size: 34px;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.watchlist-icon.wishlist-active {
  color: red;
}

/* loading */

/* all product loader */
.All_Product_loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* whitelist */
.heart_loader_all_product {
  /* width: 10px; */
}
@media (max-width:2560px) {
  .product_div_all_product{
    width: 325px;
  }
  .all_product_product_thumbnail{
    
  }
}
@media (max-width: 1480px) {
  .main_all_product_div {
    padding: 20px 20px;
    gap: 6px;
  }
  .product_div_all_product_parent {
    margin: 10px 0px;
  }
}
@media (max-width: 1050px) {
  .main_all_product_div {
    padding: 20px 20px;
    gap: 10px;
  }

  /* product */
  .product_div_all_product_parent {
    padding: 7px;
    margin: 10px 0px;
  }
  .product_div_all_product {
    width: 190px;
    height: 100%;
    padding: 10px 5px 20px 5px;
  }
 
  .product_name_and_price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .Add_to_cart_and_watchlist_button {
    gap: 6px;
  }

  .cart-quantity span {
    margin: 0 10px;
  }
  .Icon_add_to_cart {
    cursor: pointer;
    width: 100%;
  }

  /* pagination */
  .pagination {
    margin: 20px;
  }

  .pagination button {
    margin: 10px;
    padding: 14px 25px;
  }

  /* wishlist */

  .watchlist-icon {
    font-size: 30px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
  }
}

@media (max-width: 800px) {
  .main_all_product_div {
    padding: 20px 20px;
    gap: 10px;
  }

  /* product */
  .all_product_product_thumbnail {
    max-width: 200px;
    max-height: 200px;
  }
  .product_div_all_product_parent {
    padding: 7px;
    margin: 10px 0px;
  }
  .product_div_all_product {
    width: 190px;
    height: 100%;
    padding: 10px 5px 20px 5px;
  }
 
  .product_name_and_price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .Add_to_cart_and_watchlist_button {
    gap: 6px;
  }

  .cart-quantity span {
    margin: 0 10px;
  }
  .Icon_add_to_cart {
    cursor: pointer;
    width: 100%;
  }
/* price */
.All_product_price_div{
  gap: 10px;
}
.All_product_price_after_discount{
  font-size: 18px;
  scale: 1.1;
}
.All_product_price_before_discount{
  font-size: 16px;
}
.All_product_discount{
  font-size: 15px;
}
  /* pagination */
  .pagination {
    margin: 20px;
  }

  .pagination button {
    margin: 10px;
    padding: 14px 25px;
  }

  /* wishlist */

  .watchlist-icon {
    font-size: 30px;
  }
}


@media (max-width:500px) {
  .my_wishlist_mobile_view{
    display: none;
  }
  

  .main_all_product_div {
    padding: 20px 0px;
    gap: 1px;
  }

  /* product */
  .product_div_all_product_parent {
    padding: 7px;
    margin: 10px 0px;
    width: 45%;
  }
  .product_div_all_product {
    width: 100%;
    height: 100%;
    padding: 10px 5px 20px 5px;
  }
  .all_product_product_thumbnail {
    max-width: 180px;
  }
  .product_name_and_price {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 10px;
  }
  .Add_to_cart_and_watchlist_button {
    gap: 6px;
  }

  .cart-quantity span {
    margin: 0 10px;
  }
  .Icon_add_to_cart {
    cursor: pointer;
    width: 100%;
  }

/* price */
.All_product_price_div{
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--sura-font);
  margin: 8px 0px;
}
.All_product_price_after_discount{
  font-size: 16px;
  scale: 1.2;
  font-weight: 500;
}
.All_product_price_before_discount{
  font-weight: 500;
  font-size: 15px;
  scale: 0.8;
  text-decoration: line-through;
  color: #847c7c;
}
.All_product_discount{
  color: green;
  font-weight: 550;
  font-size: 13px;
}



  /* pagination */
  .pagination {
    margin: 20px;
  }

  .pagination button {
    margin: 10px;
    padding: 14px 25px;
  }

  /* wishlist */

  .watchlist-icon {
    font-size: 30px;
  }
}


